.linha{
    background-color: black;
    height: 10px;
    width: 100px;
}
.linha_meio{
    width: 40px;
    animation: linhameio 3.4s forwards;
}
.linha_esquerda{
    animation: linhaesquerda 3.4s forwards;
}
.linha_direita{
    animation: linhadireita 3.4s forwards ;
}

@keyframes linhameio {
    0% {
        transform: translateX(0) rotate(0) translateY(0);
        position: absolute;
        top: 0%;
        
    }
    50% {
        transform: translateX(480px) rotate(0deg) translateY(400px); /* Posição y final */
        position: absolute;
        top: -1.5%;
        width: 10px;
    }
    100%{
        transform: translateX(480px) rotate(0deg) translateY(400px); /* Posição y final */
        position: absolute;
        top: -1.5%;
        width: 70px;
    }
    
}


@keyframes linhaesquerda {
    0% {
        transform: translateX(0) rotate(0) translateY(0);
        position: absolute;
        top: 0%;
    }
    100% {
        transform: translateX(830px) rotate(90deg) translateY(400px) ; /* Posição y final */
        position: absolute;
        top: 40%;
    }
}



@keyframes linhadireita {
    0% {
        transform: translateX(0) rotate(0) translateY(0) translateZ(0px);
        position: absolute;
        top: 0%;
    }
    100% {
        transform: translateX(900px) rotate(90deg) translateY(400px) translateZ(200px); /* Posição y final */
        position: absolute;
        top: 40%;
    }
}

@keyframes crescer {
    0%{
        transform: scale(0);
    }
    100%{
      transform: scale(109px);  
    }
}